<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /se-bootcamp-project/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /se-bootcamp-project/index.html [L]
</IfModule>
